<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-FileCopyrightText: 2026 The ArkUI Project
     SPDX-License-Identifier: Apache-2.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.arkui.widget.tests">
    <application android:debuggable="true">
        <uses-library android:name="android.test.runner" />
    </application>
    <instrumentation android:name="org.arkui.widget.tests.WidgetTestRunner"
        android:targetPackage="com.android.launcher3" />
</manifest>
